body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #f2f2f2;
  padding:20px 20px;
  
  /* border:2px solid red; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size:larger;
  

}

li {
  margin-right: 20px;
  
}

a {
  /* text-decoration: none; */
  color: #333;
  padding: 20px;
  text-decoration: none;
}

a:hover {
 cursor: pointer;
}


.card-container{
  display: flex;
  padding:30px 30px;
}
.card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  /* margin: 0 auto; */
  margin-right: 12px;
  

}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}



.study-plan-container {
  display: flex;
  align-items: center;
  /* background-color: #ed1c1c; */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* width: 300px; */
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.study-plan-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  /* border-radius: 50%; */
  margin-right: 10px;
}
.content{
  border: 1px solid rgb(178, 178, 178);
  box-shadow:4px 2px 1px rgb(218, 218, 218);
  border-radius: 6px;
  width:30%;
  margin:10px;

}

.problemtags{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
 
}


/* table styling */
/* CSS code */
.show-filter table {
  width: 100%;
  border-collapse: collapse;
}

.show-filter th,
.show-filter td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.show-filter th {
  background-color: #f2f2f2;
}

.show-filter .even-row {
  background-color: #f2f2f2; /* Background color for even rows */
}

.show-filter .odd-row {
  background-color: #ffffff; /* Background color for odd rows */
}


/* filter by */
/* CSS code */
.filter-by {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px;
  margin-bottom: 100px;
  margin-top:40px;
}

.filter-by select {
  padding: 8px;
  border: 1px solid #aca9a9;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

.filter-by input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

/* Style for the dropdown arrow icon */
.filter-by select::-ms-expand {
  display: none;
}

.filter-by select::-webkit-scrollbar {
  width: 8px;
}

.filter-by select::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Hover effect for the dropdowns */
.filter-by select:hover,
.filter-by input:hover {
  border-color: #666;
}

/* Active/focus effect for the dropdowns */
.filter-by select:focus,
.filter-by input:focus {
  outline: none;
  box-shadow: 0 0 3px #666;
}



/* footer */
/* CSS for the footer component */
.footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-links a {
  color: #555;
  text-decoration: none;
  margin-right: 20px;
}

.footer-links a:hover {
  color: #007bff;
}

.footer-copy {
  margin-top: 10px;
  font-size: 14px;
  color: #313131;
}



.container {
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:10%;
  margin-left:27%;
  /* border:2px solid red; */

}

.login-form {
  width: 100%;
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 80%;
  padding: 15px;
  border: 3px solid red;
  border-radius: 4px;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
.code-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 3px solid red;
  border-radius: 5px;
}

.code-header {
  margin-bottom: 10px;
}

.code-header-success {
  color: green;
}

.code-header-fail {
  color: red;
}

.execution-time {
  font-size: 16px;
  margin-bottom: 10px;
}

.code-output {
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 14px;
  font-family: Monaco, monospace;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}


/* CODE EDITOR's styles.css */

.ProblemName-container {
  display: grid;
  grid-template-columns: 2fr 3fr; /* Divides the container into two columns, 1/4 and 3/4 width */
  gap: 20px; /* Adds some space between the two columns */
  /* border:3px solid brown; */
}

.ProblemDescription {
  /* padding: 30px; */
  border-right: 10px solid #ccc;
  /* border:2px solid yellow; */
  height:90vh;
  /* max-width: 25% Set the maximum width to 25% */
}

.CodeEditor-container {
  padding: 20px;
  /* border:3px solid green; */
  display: flex;
  flex-direction: column;
}

.code-output-container-true{
  display: block;
}
.code-output-container-false{
  display: none;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.hero {
  background-image: url('./static/landing-page-background.jpg'); /* Replace with your image */
  background-color: rgb(45, 41, 41);
  background-blend-mode: multiply;
  height:100vh;
  border:2px solid black;
  

   background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;

  text-align: center;


  color: #fff;
  
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-button, .signup-button {
  padding: 10px 20px;
  background-color: #00710b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}
.login-button:hover, .signup-button:hover {
  background-color: #0056b3;
}


/* discussion forum */
.form-discuss-show-true{
  display: block;
}
.form-discuss-show-false{
  display: none;
}

/* Apply styles to the main container */
.discussion-container {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

/* Style the button */
.toggle {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the button when active */
.toggle.active {
  background-color: #ff9900;
}

/* Style the form */
.form-discuss-show-true {
  display: block;
}

.form-discuss-show-false {
  display: none;
}

/* Style form elements */
form {
  margin: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button[type="submit"],
.close {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Style the posts container */
.show-posts-discuss-container {
  margin: 20px;
}

.post-odd {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.post-even{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
}
.buttons-container-discussion{
  display: flex;
  justify-content: flex-end;
}


/* profile container */
#profile-image-id{
  border-radius: 100%;
}
.profile-container-1{
  border:2px solid rgb(216, 214, 214);
  /* border-bottom:2px solid rgb(216, 214, 214); */
  box-shadow: 1px 2px 2px rgba(90, 90, 90, 0.2);
  margin-top:10px;
  width:100%;
  margin-left:10px;
}
.profile-container-1 h4{
  font-size:25px;
  color: #313030;
  margin-top:10px;
  
}
.parent{
  border:2px solid rgb(216, 214, 214);
  box-shadow: 1px 2px 2px rgba(90, 90, 90, 0.2);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  width: 80%;
  position: relative;
  left:10%;
}
.parent-sub-1{
  display: flex;
  /* border:2px solid yellow; */
}
.profile-container-2{ 
  border:1px solid rgb(216, 214, 214);
  box-shadow: 4px 4px 4px rgba(90, 90, 90, 0.2);
  margin-left:16px;
  margin-top:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-container-2 h2{
  font-size:30px;
}
.profile-container-3{
  /* border:2px solid brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(216, 214, 214);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
}
.profile-container-3-items{
 
  display: flex;

}
.profile-container-3-item-1 , .profile-container-3-item-2 , .profile-container-3-item-3{
  margin:0px 30px;
  font-size: larger;
}